*{
    margin: 0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#row1{
    height: 10%;
}

#row2{
    background-color: rgba(0, 0, 0, 0.5);
    height: 79.99%;

}

#row3{
    height: 10%;
}

#leftCol{
    background-color: rgba(108, 120, 129, 0.308);
    width: 32%;
    float: left;
    height: 100%;
}

#middleCol{
    background-color: rgba(199, 151, 109, 0.308);
    width: 32%;
    margin: 0 auto;
    height: 100%;
    
}

#rightCol{
    background-color: rgba(95, 170, 105, 0.308);
    width: 32%;
    float: right;
    height: 100%;
}
