*{
    margin: 0;
}
/* #row1{
    background-color: red;
    height: 33.33%;
}

#row2{
    background-color: pink;
    height: 33.33%;

}

#row3{
    background-color: blue;
    height: 33.33%;
} */

#leftCol{
    background-color: rgb(150, 150, 160);
    width: 33%;
    float: left;
}

#middleCol{
    background-color: rgb(48, 48, 155);
    width: 33%;
    margin: 0 auto;
    
}

#rightCol{
    background-color: rgb(38, 38, 58);
    width: 33%;
    float: right;
}
